body{
    margin: 0;
}

.wrapper{
    width: 79%;
    margin: auto;
}

.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    font: bold 24px/32px PT-Serif, serif;
    padding: 40px 0;
    padding-left: 44px;
    position: relative;
}

.logo__circle{
    width: 28px;
    height: 28px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    opacity: 0.7;
}

.logo__circle_color_dark-blue{
    background: #0056EC;
}

.logo__circle_color_blue{
    left: 8px;
    top: 56%;
    background: #C8DBFB;
}

.menu{
    display: flex;
    align-items: center;
}

.menu__item{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-right: 26px;
    color: black;
    text-decoration: none;
}

.menu__item:last-child{
    margin-right: 0;
}

.menu__item:after{
    position: absolute;
    left: 0;
    display: block;
    content: '';
    width: 0;
    height: 2px;
    background: #0056EC;
    opacity: 0;
    transition: opacity 0.5s, width 0.5s;
}

.menu__item:hover{
    opacity: 0.5;
}

.menu__item:hover:after, .menu__item_active:after{
    opacity: 1;
    width: 100%;
}

.main{
    padding-top: 206px;
    background: top right no-repeat url(images/mainImg.svg);
    background-size: 50% auto;
    background-position-y: 40%;
    padding-bottom: 25%;
}

.main__title{
    font: bold 66px/87px PT-Serif, serif;
    padding-left: 4.5%;
    transform: scaleX(1.1);
    padding-right: 64%;
    margin: 0 0 40px 0;
}

.main__title_background_blue{
    background: #ECF3FF;
}

.main__description{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 26px;
    width: 29%;
    margin: 0 0 41px 0;
}

@keyframes button-transform{
    to{
        transform: scale(1.05);
    }
}

.main__button{
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    font-size: 18px;
    line-height: 21px;
    color: white;
    background: #0056EC;
    text-decoration: none;
    border-radius: 4px;
    padding: 14px 16px;
    animation-name: button-transform;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}

.main__button:hover{
    animation-play-state: paused;
}

.hamburger-menu{
    display: none;
}

@media (max-width:768px){
    .menu{
        display: none;
    }
    
    .hamburger-menu{
        display: flex;
    }

    .logo{
        visibility: hidden;
    }

    .logo__circle{
        visibility: visible;
    }

    .header{
        margin-top: -16px;
        margin-bottom: -12px;
    }

    .main{
        padding: 74% 0 0 0;
        background-size: 80%;
        background-position: top center;
        text-align: center;
        margin-bottom: 43px;
    }

    .main__title{
        margin-bottom: 44px;
        font: bold 30px/40px PT-Serif, serif;
        padding-right: 0;
        padding-left: 0;
    }

    .main__description{
        font-size: 16px;
        line-height: 19px;
        width: 100%;
        margin-bottom: 25px;
    }

    .main__button{
        font-size: 14px;
        line-height: 16px;
    }

    #hamburger-menu__checkbox{
        opacity: 0;
    }

    .hamburger-menu__button{
        display: flex;
        align-items: center;
        position: fixed;
        top: 32px;
        right: 24px;
        width: 25px;
        height: 17px;
        cursor: pointer;
        z-index: 2;
    }

    .hamburger-menu__button > span, .hamburger-menu__button > span::before, .hamburger-menu__button > span::after{
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #0056EC;
    }

    .hamburger-menu__button > span::before{
        content: '';
        top: -4px;
    }
    
    .hamburger-menu__button > span::after{
        content: '';
        top: 4px;
    }

    .hamburger-menu__box{
        overflow: scroll;
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 28% 0 0 0;
        list-style: none;
        text-align: center;
        background: white;
        z-index: 1; 
    }

    .hamburger-menu__item {
        display: block;
        padding-bottom: 24px;
        color: black;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        line-height: 35px;
        font-weight: bold;
        text-decoration: none;
    }

    .hamburger-menu__item:hover{
        opacity: 0.5;
    }

    #hamburger-menu__checkbox:checked ~ .hamburger-menu__button{
        transform: rotate(45deg);
    }

    #hamburger-menu__checkbox:checked ~ .hamburger-menu__button > span::before{
        top: 0;
        transform: rotate(0);
    }

    #hamburger-menu__checkbox:checked ~ .hamburger-menu__button > span::after{
        top: 0;
        transform: rotate(90deg);
    }

    #hamburger-menu__checkbox:checked ~ .hamburger-menu__box{
        visibility: visible;
        left: 0;
    }

    .hamburger-menu__button > span, .hamburger-menu__button > span::before, .hamburger-menu__button > span::after{
        transition: 0.25s;
    } 
}

@media(min-width:769px) and (max-width: 1023px){
    .wrapper{
        width: 67%;
    }

    .menu__item{
        font-size: 14px;
        line-height: 16px;
    }

    .main{
        padding-top: 100px;
        background-size: 60% auto;
        padding-bottom: 10%;
    }

    .main__title{
        font: bold 30px/40px PT-Serif, serif;
        margin-bottom: 44px;
    }

    .main__description{
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 25px;
        width: 41%;
    }

    .main__button{
        font-size: 14px;
        line-height: 16px;
    }
}

@media(min-width:1024px) and (max-width: 1365px){
    .wrapper{
        width: 91%;
    }

    .menu__item{
        font-size: 14px;
        line-height: 16px;
    }

    .main{
        padding-top: 100px;
        padding-bottom: 25%;
        background-size: 60% auto;
        background-position-y: 25%;
    }

    .main__title{
        font: bold 50px/66px PT-Serif, serif;
    }

    .main__description{
        font-size: 18px;
        line-height: 21px;
    }

    .main__button{
        font-size: 14px;
        line-height: 16px;
    }
}

@media(min-width: 1366px) and (max-width:1919px){
    .wrapper{
        width: 68%;
    }

    .menu__item{
        font-size: 14px;
        line-height: 16px;
    }

    .main{
        padding-top: 100px;
        background-size: 55% auto;
        background-position-y: 30%;
    }

    .main__title{
        font: bold 50px/66px PT-Serif, serif;
        padding-right: 52%;
    }

    .main__description{
        font-size: 18px;
        line-height: 21px;
        width: 40%;
    }

    .main__button{
        font-size: 14px;
        line-height: 16px;
    }
}